Q1. What is a database? Differentiate between SQL and NoSQL databases.

--> A database is a structured collection of data that is stored and organized in a way that enables efficient retrieval, manipulation, and management of information.

*  Differentiate between SQL and NoSQL databases

    - SQL (Structured Query Language) databases are relational databases that use tables to store and organize data. They have a well-defined schema, which defines the structure of the data, the relationships between tables, and the constraints that ensure data integrity. SQL databases are based on a set of standardized SQL commands, which are used to insert, update, and query data.
    
    - NoSQL (Not Only SQL) databases are non-relational databases that do not use tables to store data. Instead, they use a variety of data models, such as key-value, document-oriented, graph, or column-family. NoSQL databases are designed to be highly scalable and flexible, and they can handle large amounts of unstructured or semi-structured data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

--> DDL stands for Data Definition Language, which is a set of SQL commands used to define, modify, and manage the structure of a database. DDL commands are used to create, alter, and drop tables, indexes, and other database objects, as well as to define constraints and specify access controls.

* CREATE :- is used to create a new table or database.
  
           ex:- CREATE database shiva;
* DROP :- is used to drop(or delete the table) table

            ex:- DROP table aman;
* ALTER :- is used to modify the structure of an existing database object, such as a table or column. 

            ex:- ALTER TABLE Customers
                ADD Email VARCHAR(255);
* TRUNCATE :- is used to remove all data from a table while keeping its structure intact. 

            ex:- TRUNCATE TABLE Customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

--> DML stands for Data Manipulation Language, which is a set of SQL commands used to manage data within a database. DML commands are used to insert, update, and delete data in a database, as well as to retrieve data from a database.

* INSERT: used to insert new data into a table.

        ex:- INSERT INTO Customers (Name, Email)
            VALUES ('shiva saurabh', 'shiva.saurabh@gmail.com');
* UPDATE: used to modify existing data in a table.

        ex:- UPDATE Customers
            SET Email = 'shiva.saurabh@newemail.com'
            WHERE Name = 'John Smith';
* DELETE: used to remove data from a table.

        ex:- DELETE FROM Customers
            WHERE Name = 'shiva saurabh';

Q4. What is DQL? Explain SELECT with an example.

--> DDL stands for Data Definition Language, which is a set of SQL commands used to define, modify, and manage the structure of a database. DDL commands are used to create, alter, and delete database objects such as tables, indexes, views, and constraints.

--> SELECT is a SQL command used to retrieve data from one or more tables in a database. It is the most commonly used SQL command and is often used in combination with other SQL commands to retrieve, filter, and sort data based on specific criteria.

        ex:- SELECT Name, Email FROM Customers;

Q5. Explain Primary Key and Foreign Key.

--> A primary key is a column or set of columns in a table that uniquely identifies each row in that table. Primary keys are used to enforce data integrity and ensure that each row in a table is unique.

        ex:- consider a table called "Customers" with columns for "CustomerID", "Name", "Email", and "City". We can make "CustomerID" the primary key for the "Customers" table, which means that each value in the "CustomerID" column must be unique and cannot be null. This ensures that we can easily and efficiently retrieve data for a specific customer by their unique identifier.


--> A foreign key is a column or set of columns in one table that refers to the primary key of another table. Foreign keys are used to establish relationships between tables and ensure that data in related tables is consistent.

        ex:- consider a table called "Orders" with columns for "OrderID", "CustomerID", "OrderDate", and "TotalAmount". We can make "CustomerID" a foreign key that refers to the "CustomerID" column in the "Customers" table. This ensures that each order is associated with a valid customer, and we can easily retrieve customer information when querying the "Orders" table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

myDB = mysql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

myCoursor = myDB.cursor()
myCoursor.execute("CREATE database shiva")
myDB.close()

* cursor() :- method is used to create a cursor object, which is used to execute SQL statements and retrieve data from the database. The cursor object is used to traverse the records of a result set and perform database operations like inserting, updating, and deleting records.

* execute() :- method is used to execute a SQL statement on a cursor object. The SQL statement can be a parameterized query, which allows you to pass values into the query at runtime. The execute() method returns a cursor object that can be used to fetch the results of the query.

Q7. Give the order of execution of SQL clauses in an SQL query.

--> In an SQL query, the order of execution of SQL clauses is as follows:
* FROM
* WHERE
* GROUP BY
* HAVING
* SELECT
* DISTINCT
* ORDER BY
* LIMIT