Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data = pd.Series([4, 8, 15, 16, 23, 42])
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_series = pd.Series(my_list)
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
import pandas as pd
data = {"Name":["Alice","Bob","Claire"],
        "Age":[25,30,27],
        "Gender":["Female","Male","Female"]}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

* The main differences between a DataFrame and a Series are:

    * A DataFrame is a two-dimensional table, while a Series is a one-dimensional labeled array.
    * A DataFrame can have multiple columns, while a Series has only one column.
    * A Series is derived from a single column of a DataFrame, while a DataFrame can contain multiple columns of different data types.

In [5]:
# Example
import pandas as pd


data = {'name': ['John', 'Alice', 'Bob', 'Mary'],
        'age': [25, 32, 18, 42],
        'gender': ['M', 'F', 'M', 'F']}

df = pd.DataFrame(data)
age_series = df['age']

print(df,"\n")
print(age_series)

    name  age gender
0   John   25      M
1  Alice   32      F
2    Bob   18      M
3   Mary   42      F

0    25
1    32
2    18
3    42
Name: age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

* Pandas offers a wide range of functions to manipulate data in a DataFrame. Here are some commonly used functions:

In [ ]:
# drop(): Removes specified rows or columns from the DataFrame. For example, you can remove a column by 
#        specifying its name:

df.drop('column_name', axis=1, inplace=True)

In [ ]:
# sort_values(): Sorts the DataFrame by one or more columns. For example, you can sort the DataFrame by the 
#                'age' column in ascending order:

df.sort_values(by='age', ascending=True, inplace=True)

In [ ]:
# groupby(): Groups the DataFrame by one or more columns and applies a function to each group. 
#            For example, you can group the DataFrame by the 'gender' column and calculate the mean age for each group:

df.groupby('gender')['age'].mean()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

* Series and DataFrame are mutable objects

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series(["shiva","aman","dev","mano","amit"])
s3 = pd.Series(["M","M","M","M","M"])
df = pd.DataFrame({"Number":s1,"Name":s2,"Gender":s3})
df

   Number   Name Gender
0       1  shiva      M
1       2   aman      M
2       3    dev      M
3       4   mano      M
4       5   amit      M

In [7]:
type(df)

pandas.core.frame.DataFrame